<div class="container p-4">
  <h2 class="mb-4">Admin Dashboard</h2>

  <div class="list-group">
    <a routerLink="/add-movie" class="list-group-item list-group-item-action">
      Add Movie
    </a>
    <a routerLink="/add-theater" class="list-group-item list-group-item-action">
      Add Theater
    </a>
    <a routerLink="/manage-schedules" class="list-group-item list-group-item-action">
      Manage Movie Schedules
    </a>
    <a routerLink="/manage-movies" class="list-group-item list-group-item-action">
      Manage Movies
    </a>
    <a routerLink="/manage-theaters" class="list-group-item list-group-item-action">
      Manage Theaters
    </a>
    <a routerLink="/manage-users" class="list-group-item list-group-item-action">
      Manage Users
    </a>
  </div>
</div>
